{
  "env": {
    "browser": true,
    "jasmine": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "globals": {
    "_": true,
    "testForNativeMethods": true,
    "createVDOM": true,
    "createElement": true,
    "changed": true,
    "updateElement": true,
    "chai": true
  }
}
